* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior:smooth;
}

button {
    font-family:"Poppins", sans-serif;
    border: none;
}

body {
    font-family:"Poppins", sans-serif;
    height: 100%;
}

li {
    list-style-type: none;
}

a {
    text-decoration:none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

header {
    position: sticky;
    top: 0px;
    margin-top: 15px;
    background: white;
    z-index: 50;
}

body.noscroll {
    overflow: hidden;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    height: 72px;
    align-items: center;
}

.menu-list-link.active-link {
    display: block;
    font-weight: 700;
    color: #007FEF;
}

.span__block {
    cursor: pointer;
    display: none;
}

.span__block_item {
    width: 34px;
    height: 3px;
    margin-bottom: 5px;
    background-color: #007FEF;
    border-radius: 2px;
    transition: all 0.5s;
}

.menu-list__item {
    text-decoration: none;
    list-style-type: none;
    text-align: right;
}

.menu-list-link{
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    list-style-type: none;
    cursor: pointer;
    color: black;
    text-align: right;
}

.container__inner {
    width: 100%;
    display: flex;
    justify-content: center;
}

.contacts__list_item a {
    text-decoration:none;
    color: #121213;
}

.section__about-me {
    opacity: 0;
    margin-top: 45px;
    margin-bottom: 120px;
    transform: translateY(-50px);
    transition: all 1s;
}

.section__about-me.element-show {
    opacity: 1;
    transition: all 1s;
    transform: translateY(0) ;
}

.section__info-hello {
    color: #3A3A3A;
    font-weight: 400;
    font-size: 20px;
}

.contacts__title {
    font-weight: 500;
    font-size: 14px;
}

.section__image-me img {
    max-width: 95%;
}

.section__image-me {
    display: flex;
    max-width: 560px;
    align-items: center;
    justify-content: end;
}

.section__info-me {
    max-width: 639px;
}

.section__info-title {
    font-weight: 700;
    font-size: 70px;
    line-height: 1;
    color: #007FEF;
    padding: 15px 0px;
}

.section__info-from {
    color: black;
    font-weight: 400;
    font-size: 20px;
}

.section__info-contacts {
    font-weight: 500;
    font-size: 14px;
    margin-top: 40px;
}

.section__info-using {
    font-weight: 400;
    font-size: 20px;
    margin-top: 25px;
}

.using__title {
    font-weight: 500;
    font-size: 14px;
}

.using__list {
    display: flex;
    gap: 30px;
    margin-top: 10px;
}

.using__list_item img{
    height: 40px;
    width: 40px;
}

.using__list_item {
    display: block; 
    position: relative;
    transition: all 250ms;
}

.using__list_item::after {
    opacity: 0;
    font-family: "Poppins", sans-serif;
    content: attr(data-title); 
    position: absolute; 
    left: 0%; top: 50%; 
    z-index: 1; 
    background: rgba(0, 127, 239,0.9);
    color: white;
    font-size: 12px; 
    padding: 5px 10px; 
    border-radius: 5px;
    transition: all 250ms;
}

.using__list_item:hover::after {
    opacity: 1;
    left: 0%; top: 90%; 
    transition: all 250ms;
}
  
.section__work {
    font-size: 30px;
    text-align: center;
    font-weight: 500;
    padding-top: 75px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:"Poppins", sans-serif;
    margin: 0 auto;
    width: 160px;
    height: 35px;
    background-color: #007FEF;
    color: white;
    border-radius: 16px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.45s ;
    font-family: "Poppins", sans-serif;
}

.button:hover  {
    border: 1px solid #007FEF;
    transform: scale(0.97);
    color: #007FEF;
    background-color: #ffffff;
}

.button__link_info {
    color: white;
}

.button:hover .button__link_info {
    color: #007FEF;
}

.link__info {
    color: white;
}

.popup__info {
    display: none;
    opacity: 0;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #0f0f0fe0;
    z-index: 99999;
    transition: all 0.3s;
}

.popup__burger {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 71px;
    left: -100%;
    background-color: #ffffff;
    z-index: 99999;
    transition: left 0.5s;
}

.active {
    opacity: 1;
}

.popup__burger.active {
    display: flex;
    opacity: 1;
}

.popup__inner {
    width: 600px;
    margin: 0 20px;
    border-radius: 15px;
    background-color: #e9e9e9;
}

.inner__block .inner__text {
    padding: 0px 15px;
    padding-bottom: 20px;
    text-align: justify;
}

.inner__block .svg {
    display: flex;
    width: 15px;
    height: 15px;
    padding: 15px 18px;
    margin-left: auto;
}

.svg path{
    fill: #007FEF;
    transition: all 0.2s;
}

.svg:hover path{
    fill: #f53232;
    transition: all 0.2s;
}

.inner__button {
    font-size: 15px;
    width: 120px;
    height: 30px;
    margin-bottom: 10px;
}

.swiper {
    margin: 20px 50px;
    width: 800px;
    border-radius: 15px;
}

.swiper,
.swiper-container {
    max-width: 100%;
}

.swiper-slide img {
    display: block;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.swiper-pagination-bullet{
    width: 7px !important;
    height: 7px !important;
}

.section__work_list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.section__work_item {
    width: 100%;
    opacity: 0;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    transform: translateY(-50px);
    transition: transform 1s;
}

.section__work_item.element-show {
    opacity: 1;
    transform: translateY(0) ;
    transition: transform 1s;
}

.work_block-info {
    max-height: 0;
    margin-top: 20px;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    border-left: #007FEF 4px solid;
}

.work_block-info:hover {
    max-height: 150px;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.text__info {
    text-align: justify;
    padding-left: 10px;
    font-size: 16px;
}

.line_animation {
    transform: scale(1,-1);
    transition: ease-in-out 200ms;
}

.info__padding {
    margin-bottom: 150px;
}

.preloader {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 999;
    background-color: white;
    justify-content: center;
    align-items: center;
}

.loader {
    overflow:hidden;
    font-size: 10px;
    margin: 50px auto;
    text-indent: -9999em;
    width: 11em;
    height: 11em;
    border-radius: 50%;
    background: #65abf8;
    background: -moz-linear-gradient(left, #65abf8 10%, rgba(101,171,248, 0) 42%);
    background: -webkit-linear-gradient(left, #65abf8 10%, rgba(101,171,248, 0) 42%);
    background: -o-linear-gradient(left, #65abf8 10%, rgba(101,171,248, 0) 42%);
    background: -ms-linear-gradient(left, #65abf8 10%, rgba(101,171,248, 0) 42%);
    background: linear-gradient(to right, #65abf8 10%, rgba(101,171,248, 0) 42%);
    position: relative;
    -webkit-animation: load3 1.4s infinite linear;
    animation: load3 1.4s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}

.loader:before {
    width: 50%;
    height: 50%;
    background: #65abf8;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
}

.section__image-me_mobil {
    display: none;
}

.loader:after {
    background: white;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

@-webkit-keyframes load3 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
}

@keyframes load3 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
}

@media screen and (max-width: 950px) {
    .section__info-hello {
        font-size: 15px;
    }
    .section__info-title {
        font-size: 60px;
    }
    .section__info-from {
        font-size: 15px;
    }
    .using__title {
        font-size: 15px;
    }
    .using__list {
        flex-wrap: wrap;
    }
    .contacts__list {
        font-size: 13px;
    }
    .using__list_item img {
        height: 35px;
        width: 35px;
    }
  }

  @media screen and (max-width: 860px) {
    .container__inner {
        flex-wrap: wrap;
        
    }
    .section__image-me {
        padding-top: 50px;
    }
    .swiper {
        max-height: 500px;
    }
    .section__work {
        font-size: 22px;
    }
    .section__work_item {
        font-size: 18px;
        margin-top: 35px;
    }
  }

  @media screen and (max-width: 420px) {
    main {
        overflow: hidden;
    }
    .section__info-contacts {
        display: none;
    }
    .section__info-using {
        display: none;
    }
    .section__image-me_mobil .section__info-using,
    .section__image-me_mobil .section__info-contacts {
        display: block;
    }
    .section__image-me_mobil img {
        transform: translateY(-70px);
    }
    .section__image-me_mobil {
        display: block;
    }
    .section__image-me {
        display: none;
    }
    .section__about-me {
        margin-bottom: 100px;
    }
    .section__info-title {
        font-size: 50px;
    }
    .header__menu {
        display: none;
    }
    .span__block  {
        display: flex;
        flex-direction: column;
    }
    .popup__burger.active {
        left: 0;
        transition: all 0.5s;
    }
    .header__menu-list {
        margin-top: 80px;
    }
    .popup__burger .header__menu {
        display: block;
    }
    .popup__burger .menu-list-link {
        display: block;
        text-align: left;
        font-size: 20px;
        padding-bottom: 15px;
    }
    .popup__burger .menu-list-link {
        text-align: left;
    }
    .button {
        width: 142px;
        height: 30px;
        font-size: 14px;
    }
    .section__work {
        padding-top: 78px;
    }
    .header__logo img {
        width: 160px;
    }
    .span__block.active-span .span__block_item:nth-child(2)
    {
        width: 17px;
    }
    .span__block.active-span .span__block_item:nth-child(1)
    {
        width: 8px;
    }
  }


  